@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Nunito:ital@0;1&family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
    /* font-family: "Nunito", sans-serif; */
    /* font-family: "PT Sans", sans-serif; */
  }
  html{
    scroll-behavior: smooth;
  }

  button{
    border: none;
  }

  header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 22px 20px;
    background-color: var(--header);
  }
  .menu-btn{
    display: none;
  }
  .close-menu{
    display: none;
  }
  .logo{
    width: 40px;
  }
  .logo .img{
    width: 100%;
  }
  .btn.join-now-button{
    font-weight: 500;
    font-size: 18px;
    background-color: #0087B5;
    color: var(--body-color);
    padding: 10px 50px;
    border-radius: 6px;
    box-shadow: 0 0 12px rgba(102, 204, 255, 0.6);
    transition: 0.3s;
  }
   .btn.join-now-button:hover{
    background-color: #0087B5;
    color: white;
    opacity: 0.8;
   }
  nav{
    display: flex;
    gap: 20px;
  }

  nav a{
    text-decoration: none;
    color: var(--body-color);
  }
  /* HERO SECTION */
  .hero-section{
    position: relative;
    background-color: #041121;
  }
  .hero-section::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: #121923;
    width: 100%;
    height: 100%;
    opacity: 0.7;
    z-index: 1;
}
  .hero-section video{
    width: 100%;
  }
  .hero-section .carousel{
    position: absolute;
    top: 35%;
    left: 19%;
    color: white;
    z-index: 2;
  }
  .hero-section .carousel-item{
    /* display: flex !important; */
    flex-direction: column;
    align-items: center;
    width: 80%;
    justify-content: center;
  }
  .carousel-item h2{
    font-size: 35px;
    font-weight: 700;
    text-align: center;
    line-height: 45px;
  }
  .carousel-item p{
    font-size: 17px;
    font-weight: 500;
    text-align: center;
  }
  .carousel-content{
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
  }
  .btn.carousel-btn{
    background-color: var(--primary-color);
    padding: 13px 20px;
    border-radius: 6px;
    font-size: 18px;
    font-weight: 600;
    text-transform: uppercase;
  }
  /* HERO SECTION ENDS HERE*/

  /* DEMO VIDEO SECTION */
  .demo-video-container{
    display: flex;
    /* justify-content: center; */
    flex-direction: column;
    align-items: center;
    /* background-color: red; */
    /* opacity: 0.6; */
    /* padding: 100px 20px; */
    position: relative;
  }
  .demo-video-container::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: #121923;
    width: 100%;
    height: 100%;
    opacity: 0.6;
    z-index: 1;
  }  
  .demo-video-container button{
    background-color: white;
    color: black;
    padding: 15px 20px;
    text-transform: uppercase;
    font-size: 20px;
    font-weight: 700;
    margin-top: 180px;
    margin-bottom: 40px;
    border-radius: 10px;
  }
  .demo-video-container .img{
    width: 100%;
    /* height: 100vh; */
    object-fit: cover;
  }
  .demo-video-body{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    position: absolute;
    z-index: 2;
  }
  .demo-video-content{
    /* width: 70%; */
    background-color: white;
    height: 100vh;
    box-shadow: 0 0 3px rgb(0 0 0 / 20%);
    padding: 50px 50px;
    border-radius: 15px;
    z-index: 2;
  }
  .demo-video-content video{
    width: 100%;
    height: 100%;
    /* object-fit: cover; */
    z-index: 2;
  box-shadow: 0 0 3px rgb(0 0 0 / 20%);

  }
  /* DEMO VIDEO SECTION ENDS HERE*/

  .about-michael-container{
    padding: 20px 80px;
  }
  .about-michael-header{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .about-michael-header h2{
    margin-top: 40px;
    font-size: 30px;
    font-weight: 700;
    text-align: center;
  }
  .about-michael-header p{
    font-weight: 500;
  }
  .about-michael-image{
    width: 100%;
    margin-top: 40px;
  }
  .about-michael-image .img{
    width: 100%;
  }
  .about-michael-content-one{
    margin-top: 50px;
  }
  .about-michael-content-two{
    display: flex;
    justify-content: space-between;
    gap: 20px;
    align-items: center;
    margin-top: 50px;
  }
  .about-michael-content-two-text{
    width: 60%;
  }
  .about-michael-content-two-img{
    width: 40%;
  }
  .about-michael-content-two-img .img{
    width: 100%;
  }

  .image-slider-container{
    background-color: #FAFAFA;
    padding: 20px 20px;
    margin-top: 30px;
    border-radius: 5px;
    box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.078);
  }
  .slider {
  width: 100%;
  overflow: hidden;
  white-space: nowrap;
}

.slide-track {
  display: flex;
  gap: 20px;
  width: calc(200px * 6); /* 3 unique images repeated twice */
  animation: scroll 10s linear infinite;
}

.slide-track .slide {
  width: 200px;
  height: 200px;
  object-fit: cover;
}
.slider .slide-track-two{
  width: calc(200px * 6); /* 3 unique images repeated twice */
  animation: scrolll 10s linear infinite;
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-300px); /* 300px * 3 images */
  }
}
@keyframes scrolll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-300px); /* 300px * 3 images */
    /* transform: translateX(100px);  */
  }
}

/* SYSTEM */
.system-container{
  background-color: #FAFAFA;
  padding: 60px 80px;
  margin-top: 50px;
}
.system-hero-section{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.system-hero-section-img{
  display: flex;
  justify-content: center;
}
.system-hero-section-img .img{
  width: 60%;
}
.system-container ul li{
  list-style: decimal;
  font-size: 15px; 
  font-weight: 500;
  margin-bottom: 10px;
}
.system-btn{
  display: flex;
  justify-content: center;
  margin-top: 50px;
}
.system-btn .btn.countdown-btn{
  /* width: 400px; */
  background-color: var(--primary-color);
  padding: 20px 30px;
  text-transform: uppercase;
  font-size: 20px;
  font-weight: 700;
  border-radius: 5px;
}
.btn.primary-btn-hover:hover{
  background-color: var(--primary-color);
  color: black;
  opacity: 0.8;
  cursor: pointer;
  transition: 0.3;
}

/* TESTIMONIALS */
.Testimonials-container{
  margin-top: 90px;
}
.Testimonials-container h2{
  text-align: center;
  font-size: 30px;
  font-weight: 600;
  margin-bottom: 45px;
  text-transform: uppercase;
}
.Testimony-body{
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  gap: 20px;
  /* flex-direction: column; */
  flex-wrap: wrap;
  width: 100%;
}
.Testimony-content{
  width: 30%;
  background-color: #F3F3F3;
  padding: 20px 20px;
  border-radius: 5px;
  box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.078);
}
.Testimony-content video{
  width: 100%;
}
.testimony-section-two{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px 20px;
  margin-top: 70px;
}
.wave-img{
  animation: wave-animation 2s infinite;
}
@keyframes wave-animation {
  0% { transform: rotate(0deg); }
  10% { transform: rotate(14deg); }
  20% { transform: rotate(-8deg); }
  30% { transform: rotate(14deg); }
  40% { transform: rotate(-4deg); }
  50% { transform: rotate(10deg); }
  60% { transform: rotate(0deg); }
  100% { transform: rotate(0deg); }
}
.testimony-section-two h3{
  width: 800px;
  font-size: 25px; 
  font-weight: 600; 
  text-transform: uppercase;
  text-align: center;
}
.testimony-section-two p{
  font-size: 15px; 
  font-weight: 500; 
  width: 500px; 
  text-align: center;
  margin-top: 10px;
}
.stroke-line{
  width: 60%;
  height: 1px;
  background-color: #D9D9D9;
  margin-top: 15px;
}
.testimonial-section-three{
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  margin-top: 40px;
}
.testimonial-section-three-content{
  width: 48%;
  padding: 20px 20px;
  /* margin-top: 30px; */
  border-radius: 8px;
  /* box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.078); */
  box-shadow: 0 0 3px rgb(0 0 0 / 20%);

}
.testimonial-section-three-content p{
  text-align: start;
  width: 100%;
  font-size: 15px;
  font-weight: 500;
  margin-bottom: 10px;
}
.testimonial-section-three-content small{
  font-size: 12px;
}
.testimonial-section-three-content h4{
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 0;
}
.testimonial-section-four{
  display: flex;
  justify-content: space-between;
  gap: 20px;
  margin-top: 50px;
}
.testimonial-section-four-content{
  width: 25%;
}
.testimonial-section-four-content .img{
  width: 100%;
}
.testimonial-section-four-content video{
  width: 100%;
}
/* TESTIMONIALS ENDS HERE*/

.believing-container{
  margin-top: 50px;
  padding: 30px 80px;
}
.believing-container h2{
  text-align: center;
  font-size: 30px;
  font-weight: 600;
  /* margin-bottom: 45px; */
  text-transform: uppercase;
}
.believing-container p{
  text-align: center;
  font-size: 16px;
  font-weight: 600;
}

.learn-how-container{
  margin-top: 50px;
  padding: 30px 80px;
  background-color: #041121;
}
.learn-how-container h2{
  text-align: center;
  font-size: 25px;
  font-weight: 600;
  color: white;
  margin-top: 50px;
  margin-bottom: 10px;
  text-transform: uppercase;
}
.learn-how-container p{
  text-align: center;
  font-size: 18px;
  font-weight: 600;
  color: red;
  margin-bottom: 60px;
}
.how-it-works-container{
  margin-top: 100px;
  padding: 70px 80px;
  background-color: #FAFAFA;
}
.how-it-works-container h2{
  text-align: center;
  font-size: 30px;
  font-weight: 700;
  color: black;
  margin-top: 30px;
  text-transform: uppercase;
}
.how-it-works-container p{
  text-align: center;
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 60px;
}
.how-it-works-body{
  display: flex;
  /* justify-content: space-between; */
  flex-direction: column;
  gap: 40px;
}
.how-it-works-content{
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  width: 100%;
  border: solid 1px #D9D9D9;
  padding: 40px 20px;
  border-radius: 15px;
}
.how-it-works-content-text{
  width: 100%;
}
.how-it-works-content-text h4{
  font-size: 20px;
  font-weight: 600;
  margin-top: 15px;
}
.how-it-works-content-text p{
  font-size: 15px;
  font-weight: 500;
  width: 100%;
  text-align: left;
  margin-bottom: 10px;
}
.green-tick-div{
  display: flex;
  align-items: start;
  margin-bottom: 10px;
}
.green-tick-div svg{
  width: 25px;
  height: 25px;
}
.how-it-works-content-text small{
  font-weight: 600;
  font-size: 18px;
  /* margin-bottom: 15px; */
}
.how-it-works-content-text ul li{
  font-size: 13px;
  font-weight: 600;
}
.how-it-works-content-img{
  width: 40%;
}
.how-it-works-content-img .img{
  width: 100%;
}

/* FAQ */
.faq-container{
  display: flex;
  justify-content: space-between;
  gap: 20px;
  padding: 80px 80px;
  margin-top: 50px;
}
.faq-content-one{
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: start;
  width: 40%;
}
.faq-content-one h3{
  font-size: 30px;
  font-weight: 700;
  /* text-transform: uppercase; */
}
.faq-box{
  background-color: #FAFAFA;
  padding: 10px 10px;
  border-radius: 4px;
  box-shadow: 0 0 3px rgb(0 0 0 / 20%);
}
.faq-btn-link{
  background-color: var(--primary-color);
  color: black;
  padding: 15px 20px;
  /* text-transform: uppercase; */
  font-size: 17px;
  font-weight: 600;
  border-radius: 5px;
  text-decoration: none;
}
.faq-content-two{
  width: 60%;
}
.accordion{
  display: flex;
  flex-direction: column;
  gap: 20px;
  /* background-color: red; */
  border: none;
}
.accordion-header .accordion-button{
  font-weight: 600;
}
.accordion .accordion-item{
  border: 1px solid #dee2e6;
  /* border: 1px solid red; */
}
.accordion .accordion-item:not(:first-of-type){
  border: 1px solid #dee2e6;
}
.accordion-body{
  font-weight: 500;
}
/* FAQ ENDS HERE*/

/* <!-- COUNTDOWN CONTAINER --> */
.countdown-container{
  padding: 50px 150px;
}
.countdown-body{
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #F3F3F2;
  padding: 60px 40px;
  border-radius: 12px;
  box-shadow: 0 0 3px rgb(0 0 0 / 20%);
}
.countdown-body h2{
  font-weight: 600;
}
.countdown-body p{
  font-weight: 500;
  text-align: center;
}
.countdown-timer-container{
  display: flex;
  align-items: center;
  gap: 30px;
  margin-bottom: 20px;
}
.countdown-timer{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.countdown-timer .text-style{
  font-size: 30px;
  font-weight: 700;
}
.countdown-timer.label{
  font-size: 15px;
}
.btn.countdown-btn{
  background-color: var(--primary-color);
  color: black;
  padding: 10px 20px;
  /* text-transform: uppercase; */
  font-size: 17px;
  font-weight: 600;
  border-radius: 8px;
  text-decoration: none;
  margin-bottom: 20px;
}
/* <!-- COUNTDOWN CONTAINER ENDS HERE -- */

/* MODAL */
.modal .modal-content{
  border-radius: 20px;
}
.modal-header{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px 20px !important; 
  position: relative;
}
.modal-header h1{
  font-size: 17px;
  font-weight: 600;
  text-transform: uppercase;
}
.modal-header p{
  font-size: 15px;
  text-align: center;
  width: 500px;
  margin-bottom: 0;
}
.close-modal-button{
  position: absolute;
  top: 10px;
  right: 30px;
}
.close-modal-button .btn-close{
  color: red;
  width: 10px;
  height: 10px;
  font-size: 13px;
}
.modal-body h2{
  font-size: 17px;
  text-align: center;
}
.modal-content-container{
  display: flex;
  justify-content: space-between;
  gap: 20px;
}
.modal-content .modal-body{
  padding: 30px 40px !important;
}
.modal-content .modal-body h2{
  margin-bottom: 30px;
  font-size: 13px;
  font-weight: 500;
  width: 245px;
}
.option-one-content{
  display: flex;
  align-items: center;
  margin-bottom: 15px;
}
.option-one{
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  width: 50%;
  border: 1px solid ;
  box-shadow: 0 0 3px rgb(0 0 0 / 20%);
  border: 1px solid #dee2e6;
  padding: 30px 15px;
  border-radius: 10px;
}
.option-one-icon{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  margin-bottom: 20px;
}
.option-one-icon .img{
  width: 50px;
}
.option-one-content svg{
  width: 30px;
  height: 30px;
}
.option-one-content p{
  font-size: 13px;
  font-weight: 500;
  margin-bottom: 0;
}
.request-access{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  color: white;
  text-decoration: none;
  font-size: 13px;
  font-weight: 600;
  padding: 10px 10px;
  border-radius: 8px;
  margin-top: 20px;
}
/* MODAL ENDS HERE*/

/* FOOTER */
  footer{
    padding: 40px 80px;
    background-color: #041121;
    color: white;
  }
  .footer-header{
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
  }
  footer h4{
    font-size: 15px;
  }
  footer p{
    width: 600px;
    font-size: 12px;
    line-height: 26px;
  }
  .footer-bottom{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 60px;
  }
.footer-bottom-content-two{
  display: flex;
  gap: 10px;
}
.footer-bottom-content-two a{
  width: 20px;
}
.footer-bottom-content-two a .img{
  width: 100%;
}
/* FOOTER ENDS HERE*/


@media screen and (max-width:850px) {
  header nav{
    display: none;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 0;
    background-color: var(--secondary-color);
    position: absolute;
    left: 0;
    top: 0;
    overflow-y: hidden;
    z-index: 999;
    transition: all 300ms ease-in-out;
  }
  /* .menu-btn{
    display: flex;
    background: none;
    z-index: 9999;
  }
  nav.active{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100vh;
    position: fixed;
  } */
     .hero-section video{
      height: 100vh;
      object-fit: cover;
     }

  .hero-section .carousel-item{
    width: 100%;
    padding: 10px 20px;
  }
   .hero-section .carousel{
    position: absolute;
    top: 50%;
    left: 3%;
    color: white;
    z-index: 2;
  }
  .carousel-item h2{
    font-size: 20px;
    font-weight: 700;
    line-height: 30px;
  }
  .carousel-item p{
    font-size: 13px;
    font-weight: 500;
  }
  .testimony-section-two h3{
    width: 100%;
  }
  .how-it-works-content-img{
    display: none;
  }
  .about-michael-header p{
    width: 100% !important;
  }
  .carousel-btn{
    font-size: 15px;
  }
  .demo-video-container{
    height: 100vh;
  }
  .demo-video-container .img{
    object-fit: cover;
    height: 100vh;
  }
  .demo-video-container button{
    font-size: 13px;
    padding: 10px 15px;
    border-radius: 5px;
    margin-top: 20px;
    margin-bottom: 20px;
  }
  .demo-video-content video{
    height: 100%;
  }
  .testimony-section-two p{
    width: 100%;
  }
  .modal-header h1{
    text-align: center;
  }
   .hero-section .demo-video-content{
    width: 100% ;
    height: 600px;
    /* background-color: red; */
    padding: 10px 10px;
    border-radius: 5px;
  }
   .demo-video-content video{
    height: 100%;
    width: 100%;
    object-fit: cover;
  }
}

@media screen and (max-width:600px) {
    .hero-section video {
      height: 90vh;
      object-fit: cover;
    }
   .hero-section .carousel{
    position: absolute;
    top: 40% !important;
    left: 3%;
    color: white;
    z-index: 2;
  }
  .btn.carousel-btn{
    font-size: 13px;
    padding: 10px 10px;
  }
  .close-modal-button{
    position: absolute;
    top: 10px;
    right: 20px;
  }
  .Testimonials-container h2{
    font-size: 25px;
  }
   /* .hero-section .demo-video-content{
    width: 40% !important;
    height: 100px !important;
    background-color: red;
    padding: 10px 10px;
    border-radius: 5px;
  }
   .demo-video-content video{
    height: 100% !important;
    width: 100% !important;
    object-fit: cover !important;
  } */
  .Testimony-body{
    flex-direction: column;
  }
  .Testimony-content{
    width: 100%;
  }
  .hero-section .carousel{
    position: absolute;
    top: 30%;
    left: 3%;
    color: white;
    z-index: 2;
  }
  .carousel-item h2{
    font-size: 17px;
    font-weight: 700;
    line-height: 30px;
  }
  footer{
    padding: 40px 40px;
  }
  .countdown-container{
    padding: 50px 20px;
  }
  .learn-how-container{
    padding: 30px 20px;
  }
  .system-container{
    padding: 60px 20px;
  }
  .about-michael-container{
    padding: 20px 20px;
  }
  .believing-container{
    padding: 30px 20px;
  }
  .how-it-works-container{
    padding: 70px 20px;
  }
  .faq-container{
    flex-direction: column;
    padding: 80px 20px;
  }
  .faq-content-one{
    width: 100%;
  }
  .faq-content-two{
    width: 100%;
  }
  footer p{
    width: 100%;
  }
  .green-tick-div svg{
    width: 30px;
    height: 30px;
  }
  .learn-how-container h2{
    font-size: 20px;
  }
  .testimonial-section-three-content{
    width: 100%;
  }
  .modal-header p{
    width: 100%;
  }
  .modal-content-container{
    flex-direction: column;
  }
  .option-one{
    width: 100%;
  }
}